<article class="entry">
  <div class="entry-head">  
    <div class="title">
      <a href="/entry/{{id}}">{{title}}</a>
    </div>
    <div class="meta">
      Posted By {{user.username}} |
    </div>
  </div>
  <div class="entry-text">
    {{entry_text}}
  </div>
</article>