<article class="entry">
  <div class="entry-head">  
    <div class="title">
      <p>{{date}}</p>
    </div>
    {{!-- <div class="meta">
      Posted By {{user.username}} |
    </div> --}}
  </div>
  <div class="entry-text">
    {{entry_text}}
  </div>
</article>