    <link rel="stylesheet" href="/css/login.css">
    <div class="login-wrapper">  
      <div class="page-container">

      <form id="login-form" action="">
        <h1>Welcome!</h1>

        <div class="login-input-box">
          <input id='email-login' type="text" placeholder="Email" required>
        </div>

        <div class="login-input-box">
          <input id='password-login' type="text" placeholder="Password" required>
        </div>

        <div class="login-remember-forgot">
          <label><input class="remember-checkbox" type="checkbox">Remember me</label>
        </div>

        <button type="submit" class="btn-login">Login</button>

        <div class="login-register-link">
          <p>Don't have an account? <a href="/register">Register</a></p>
        </div>

      </form>
    </div>
  </div>

  <script src="/javascript/login.js"></script>