<div class="wrapper">
  <form id="login-form" action="">

      <h1>Login</h1>
      <div class="input-box">
        <input type="text"placeholder="Username"required>
         <i class='bx bxs-user'></i>
      </div>   
      <div class="input-box">
          <input type="password"placeholder="Password"required>
          <i class='bx bxs-lock-alt'></i>
      </div>

      <div class="remember-forgot">
        <label><input type="checkbox">Remember me</label>
        </div>

        <button type="submit" class="btn">Login</button>


        <div class="register-link">
          <p>Don't have an account?<a href="./sign.up/sign.html">Register</a></p>

        </div>
      </div>

    </form>

  <script src="./script.js"></script>