    <link rel="stylesheet" href="/css/register.css">

  <div class="signup-wrapper">

    <form action="">
      <h1>Sign up</h1>

      <div class="signup-input-box">
        <input id="first-name-register" type="text" placeholder="First Name" required>
        <i class='bx bx-register bxs-user'></i>
      </div>
      {{!-- <div class="input-box">
          <input type="Email"placeholder="Email Adress"required>
          <i class='bx bxs-envelope'></i>
      </div> --}}

      <div class="signup-input-box">
        <input id="last-name-register" type="text" placeholder="Last Name" required>
        <i class='bx bx-register bxs-lock-alt'></i>
      </div>
      {{!-- <div class="input-box">
        <input type="Phone Number"placeholder="Phone Number"required>
        <i class='bx bxs-phone'></i>
    </div> --}}

      <div class="signup-input-box">
        <input id="phone-number-register" type="text" placeholder="Phone Number" required>
        <i class='bx bx-register bxs-lock-alt'></i>
      </div>

      <div class="signup-input-box">
        <input id="email-register" type="text" placeholder="Email" required>
        <i class='bx bx-register bxs-lock-alt'></i>
      </div>

      <div class="signup-input-box">
        <input id="password-register" type="text" placeholder="Password" required>
        <i class='bx bx-register bxs-lock-alt'></i>
      </div>

      <button type="submit" class="btn-register">Register</button>
    </form>






  </div>
  <script src="/javascript/register.js"></script>

  </html>