@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container {
    background-image: url('/img/workout12.jpeg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: "Poppins", sans-serif;
}    

.Logo {
    color: #fff;
    font-family: "Poppins", sans-serif;
    margin-right: 1000px;
    margin-top: -770px;
    text-decoration: none;
    font-weight: 600;
    font-size: 30px;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
}

nav {
    background: #fff;
    border-radius: 50px;
    padding: 10px;
    box-shadow: 0 25px 20px -20px rgba(6, 5, 5, 0.4);
    position: relative;
    top: -400px;
    left: -700px;
    font-family: "Poppins", sans-serif;

    backdrop-filter: blur(10px);
}

nav ul li {
     list-style: none;
     display: inline-block;
     padding: 13px 35px;
     margin: 10px;
     font-size: 15px;
     font-weight: 600;
     color: #000000;
     cursor: pointer;
     position: relative;
     z-index: 2;
     transition: color 0.5s;
     font-family: "Poppins", sans-serif;
}

nav ul li::after {
    content: '';
    background: #f44566;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: -1;
    opacity: 0;
    transition: top 0.5s, opacity 0.5s;
}

nav ul li:hover {
    color: #ffffff;
}

nav ul li:hover::after {
    top: 50%;
    opacity: 1; 
}

Logo {
    font-family: 'Pacifico', cursive;
}

.dropdown {
    color: #f44566;
    margin-top: 500px;
}